<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988532778502-89j4ots08lg3u4ge11sjf9dcd4h08cgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988532778502-89j4ots08lg3u4ge11sjf9dcd4h08cgg</string>
	<key>API_KEY</key>
	<string>AIzaSyAVotC5orq8DxUp2I-dgdTTvjetsoUqnQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>988532778502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fred.FirebaseCRUD</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-b2b37</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-b2b37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988532778502:ios:e57b62312a9b215b844587</string>
</dict>
</plist>